{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
  <h1 class="text-center">Welcome Back</h1>
  <p class="lead text-center font-italic med-letter-spacing larger-font-size">Login below</p>

  <div class="row d-flex justify-content-center">
    <div class="col-6 form-container">
      <h3 class='text-center med-letter-spacing'>Login</h1>
      <hr>
      <form class= "form-padding" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form 
          if field.widget.input_type != 'hidden' %} 
        <p class="input-group-sm">
          {{ field.label (class_='med-letter-spacing')}}
          {{ field(class_="form-control") }}
      
          {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
        </p>
        {% endfor %}
      
        <button class="btn btn-info btn-lg btn-block mt-5 med-letter-spacing" type="submit">Login</button>
      </form>
      <hr>
      <div class="mt-4 ml-5">
        <p>New User?</p>
        <a class="btn btn-info" href="/signup">Create Account</a>
      </div>

    </div>
 
  </div>
</div>

{% endblock %}